@media (min-width: 375px) {
  body {
    background: url('./assets/bg-intro-desktop.png'), hsl(0, 100%, 74%);
  }
}

body {
  background: url('./assets/bg-intro-mobile.png'), hsl(0, 100%, 74%);
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
